@import url('https://fonts.googleapis.com/css?family=Montserrat:500,900');

:root {
  --bright-sky-blue: #00bfff;
  --light-sea-green: #90ee90;
  --live-red: #d0021b;
  --warm-grey: #9b9b9b;
  --white: #ffffff;
  --greyish-brown: #4a4a4a;
  --font-main: 'Montserrat', sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 900;
}

/*
  DEFAULT
*/

html,
body {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

/*
  TYPOGRAPHY
*/


h1, h2, h3, p, label {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  text-align: left;
}

h1 {
  color: var(--white);
  font-size: 40px;
  font-weight: var(--font-weight-bold);
}

h2 {
  color: var(--white);
  font-size: 24px;
}

h3 {
  color: var(--bright-sky-blue);
  font-size: 20px;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
}

p, label {
  color: var(--warm-grey);
}

p.text--large {
  color: var(--greyish-brown);
  font-size: 20px;
}

/* Helpers */

.u-background--gradient {
   background-image: linear-gradient(to left, var(--light-sea-green), var(--bright-sky-blue));
}

.u-height--full {
  height: 100%;
}

.u-box {
    background-color: var(--white);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 25px;
    min-width: 450px;
}


/* Buttons */

.button {
  background-color: transparent;
  border-radius: 8px;
  border: solid 2px var(--white);
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin: 50px 0;
  min-width: 110px;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  transition-duration: .1s;
  transition-property: background-color, color, border-color;
  transition-timing-function: ease-in-out;
  -webkit-appearance: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--bright-sky-blue);
}

.button--secondary {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--bright-sky-blue);
}

.button--secondary:hover {
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
}

.button--tertiary {
    background-color: var(--light-sea-green);
    border-color: var(--light-sea-green);
}

.button--tertiary:hover {
  color: var(--light-sea-green);
}

.button--small {
  font-size: 16px;
  padding: 8px;
}

/* Form */

.form__group {
  margin-top: 50px;
  min-width: 550px;
}

input, select {
  background-color: var(--white);
  border-radius: 8px;
  border: solid 2px var(--warm-grey);
  box-sizing: border-box;
  color: var(--warm-grey);
  font-size: 16px;
  height: 50px;
  line-height: 40px;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
}

/* Page setup */

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.page__header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 65px;
  padding: 8px;
  width: 100%;
}

.page__title {
  cursor: pointer;
}

.page__subtitle {
  margin-left: 15px;
}

.page__subtitle::before {
    content: '// ';
}

.page__content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  height: 100%;
  width: 100%;
}
